
body { 
    font-family: arial, verdana, sans-serif; 
    color: white;
    font-size: 30px;
}
div {
    text-align: center;
    width: 500px;
    background-color: #d0d0d0;
    padding-bottom: 30px;
    margin: 0 auto;
   
}
p {
    text-align: center;
    width: 100%;
    background-color: rgb(14, 166, 226);
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    font-size: 20px;
    border-radius: 0px;
    border: 0px;  
}

input[type="email"], input[type="password"] {
    width: 450px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid gray;
}

input[type="submit"]{
    background-color: rgb(14, 166, 226);
    color: #fff;
    width: 455px;
    height: 50px;
    border: 1px solid rgb(17, 170, 231);
}
.login:hover{
    background-color: rgb(17, 170, 231);
    color: #FFF;
    cursor: pointer;
}